(
    cooldowns: [
        (
            modifiers: [
                SimpleCooldownModifier(AddCharge, 9),
                Reloading,
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Size, -4),
                        SimpleModify(Speed, 10),
                        SimpleModify(Lifetime, -2),
                        SimpleModify(Health, -10),
                        OnHit(Effect(Damage(39))),
                        OnHeadshot(Effect(Damage(39))),
                    ]),
                    keybind: Pressed(Mouse(Left)),
                ),
                (
                    card: MultiCast([
                        Projectile([
                            SimpleModify(Size, -4),
                            SimpleModify(Speed, 10),
                            SimpleModify(Lifetime, -2),
                            SimpleModify(Health, -10),
                            OnHit(Effect(Damage(13))),
                            OnHeadshot(Effect(Damage(13))),
                        ]),
                    ], [
                        Spread(6),
                        Duplication(2),
                    ]),
                    keybind: Pressed(Mouse(Right)),
                ),
            ],
        ),
        (
            modifiers: [],
            abilities: [
                (
                    card: MultiCast([
                        Effect(Knockback(20, Forward)),
                        StatusEffects(1, [
                            Stun,
                            OnHit(Effect(Damage(25))),
                        ]),
                    ], []),
                    keybind: Pressed(Key(LShift)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, -3),
            ],
            abilities: [
                (
                    card: MultiCast([
                        Projectile([
                            SimpleModify(Health, 9),
                            SimpleModify(Lifetime, -1),
                            LockToOwner,
                            SimpleModify(Size, 3),
                            SimpleModify(Length, -8),
                        ]),
                        StatusEffects(4, [
                            Lockout,
                        ]),
                    ], []),
                    keybind: Pressed(Key(E)),
                ),
            ],
        ),
        (
            modifiers: [],
            abilities: [
                (
                    card: MultiCast([
                        Effect(Knockback(3, Up)),
                    ], []),
                    keybind: And(Not(IsOnGround), OnPressed(Key(Space))),
                ),
            ],
        ),
    ],
    passive: (
        passive_effects: [],
    ),
)