[
    (
        modifiers:[
            SimpleCooldownModifier(AddCharge,11)
        ],
        abilities:[
            (
                card:Projectile([
                    SimpleModify(Size,-4),
                    SimpleModify(Speed,2),
                    SimpleModify(Lifetime,-2),
                    OnHit(Effect(Damage(13))),
                    SimpleModify(Health,-10),
                    OnHeadshot(Effect(Damage(13)))
                ]),
                keybind:Pressed(Mouse(Left)),
                cached_cooldown:Some(0.22524863),is_cache_valid:true,is_keybind_selected:false
            ),(
                card:MultiCast([
                    Projectile([
                        SimpleModify(Size,-4),
                        SimpleModify(Speed,2),
                        SimpleModify(Lifetime,-2),OnHit(Effect(Damage(13))),
                        SimpleModify(Health,-10),OnHeadshot(Effect(Damage(13)))
                    ])
                ],[
                    Spread(7),Duplication(2)
                ]),
                keybind:Pressed(Mouse(Right)),
                cached_cooldown:Some(0.5634945),is_cache_valid:true,is_keybind_selected:false
            )
        ]
    ),(
        modifiers:[],abilities:[
            (
                card:MultiCast([
                    Effect(Knockback(20)),
                    Effect(StatusEffect(Stun,1)),
                    Effect(StatusEffect(OnHit(Effect(Damage(25))),1))
                ],[]),
                keybind:Pressed(Key(LShift)),
                cached_cooldown:Some(5.8890624),is_cache_valid:true,is_keybind_selected:false
            )
        ]
    ),(
        modifiers:[
            SimpleCooldownModifier(MultiplyImpact,1)
        ],
        abilities:[
            (
                card:MultiCast([
                    Projectile([
                        SimpleModify(Length,-5),
                        SimpleModify(Width,3),
                        SimpleModify(Height,3),
                        SimpleModify(Health,3),
                        SimpleModify(Lifetime,-1),
                        LockToOwner,
                    ]),
                    Effect(StatusEffect(Lockout,4))
                ],[]),
                keybind:Pressed(Key(E)),
                cached_cooldown:Some(12.163258),is_cache_valid:true,is_keybind_selected:false
            )
        ]
    )
]