[
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Mouse(Left)),
                card: MultiCast([
                    Projectile([
                        SimpleModify(Speed,1),
                        SimpleModify(Width,-10),
                        SimpleModify(Size,-10)
                        SimpleModify(Lifetime,-3),
                        OnHit(Effect(Damage(3))),
                        OnHeadshot(Effect(Damage(3))),
                    ]),
                ],[
                    Spread(5),
                    Duplication(4),
                ]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: OnPressed(Key(E)),
                card: MultiCast([
                    Projectile([
                        SimpleModify(Speed,17),
                        SimpleModify(Width,-5),
                        SimpleModify(Length,-5),
                        SimpleModify(Height,4),
                        SimpleModify(Lifetime,-3),
                        SimpleModify(Health,-10),
                        OnHit(Projectile([
                            SimpleModify(Speed,-3),
                            SimpleModify(Size,-10)
                            SimpleModify(Lifetime,-3),
                            SimpleModify(Health,-10),
                            OnExpiry(MultiCast([
                                Effect(Cleanse),
                                Effect(Teleport),
                            ],[])),
                        ])),
                    ]),
                    Effect(StatusEffect(Stun, 2)),
                    Effect(StatusEffect(DecreaseGravity, 2)),
                ],[]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Key(LShift)),
                card: MultiCast([
                    Effect(Cleanse),
                    Effect(StatusEffect(Speed, 6)),
                    Effect(StatusEffect(Speed, 6)),
                    Effect(StatusEffect(Invincibility, 6)),
                    Effect(StatusEffect(Lockout,6)),
                ],[]),
            ),
        ]
    ),
]