[
    Cooldown(
        modifiers: [SimpleCooldownModifier(MultiplyImpact,5)],
        abilities: [
            (
                card: Projectile([
                    SimpleModify(Size,-5),
                    SimpleModify(Length,4),
                    SimpleModify(Health,-10),
                    OnHit(Effect(Damage(20))),
                    OnHit(Projectile([
                        SimpleModify(Speed,-3),
                        SimpleModify(Size,1),
                        SimpleModify(Lifetime,-10),
                        SimpleModify(Health,-10),
                        PiercePlayers,
                        OnHit(Effect(Damage(20))),
                    ])),
                    OnHit(Projectile([
                        SimpleModify(Speed,-3),
                        SimpleModify(Size,1),
                        SimpleModify(Lifetime,-10),
                        SimpleModify(Health,-10),
                        FriendlyFire,
                        PiercePlayers,
                        OnHit(Effect(Knockback(2))),
                        OnHit(Effect(Damage(20))),
                    ])),
                ]),
                keybind: Pressed(Mouse(Left))
            )
        ]
    ),
    Cooldown(
        modifiers: [SimpleCooldownModifier(AddCharge, 4),SimpleCooldownModifier(MultiplyImpact,1)],
        abilities: [
            (
                card: MultiCast([
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                ],[]),
                keybind: Or(
                    Pressed(Mouse(Right)),
                    And(
                        Pressed(Key(Space)),
                        Not(IsOnGround)
                    )
                )
            )
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                card: Projectile([
                    SimpleModify(Size,-5),
                    SimpleModify(Health,-10),
                    OnHit(Effect(Damage(15))),
                    OnHit(Projectile([
                        SimpleModify(Speed,-3),
                        SimpleModify(Size,9),
                        SimpleModify(Lifetime,-10),
                        SimpleModify(Health,-10),
                        FriendlyFire,
                        PiercePlayers,
                        OnHit(Effect(Knockback(10))),
                    ])),
                ]),
                keybind: Pressed(Key(E))
            )
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                card: MultiCast([
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                    Effect(StatusEffect(DecreaseGravity, 1)),
                ],[]),
                keybind: Pressed(Key(LShift))
            )
        ]
    ),
]