(
    cooldowns: [
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, 14),
            ],
            abilities: [
                (
                    card: MultiCast([
                        Projectile([
                            SimpleModify(Speed, -1),
                            SimpleModify(Width, 2),
                            SimpleModify(Height, 1),
                            SimpleModify(Length, -15),
                            SimpleModify(Health, 11),
                            SimpleModify(Lifetime, -2),
                            LockToOwner(Forward),
                            PiercePlayers,
                        ]),
                        StatusEffects(3, [
                            SimpleStatusEffect(Speed, -2),
                            Lockout,
                        ]),
                    ], []),
                    keybind: Pressed(Mouse(Right)),
                ),
                (
                    card: Projectile([
                        SimpleModify(Size, -3),
                        SimpleModify(Width, 6),
                        SimpleModify(Speed, -1),
                        SimpleModify(Lifetime, -6),
                        SimpleModify(Gravity, 2),
                        LockToOwner(Forward),
                        PiercePlayers,
                        OnHit(Effect(Damage(42))),
                        OnHit(Effect(Knockback(1, Forward))),
                    ]),
                    keybind: Pressed(Mouse(Left)),
                ),
            ],
        ),
        (
            modifiers: [
                SimpleCooldownModifier(AddCharge, 1),
                SignedSimpleCooldownModifier(DecreaseCooldown, -7),
            ],
            abilities: [
                (
                    card: MultiCast([
                        Projectile([
                            SimpleModify(Size, -1),
                            SimpleModify(Speed, 2),
                            PiercePlayers,
                            OnHit(Effect(Damage(50))),
                        ]),
                        StatusEffects(1, [
                            Lockout,
                        ]),
                    ], []),
                    keybind: OnPressed(Key(E)),
                ),
            ],
        ),
        (
            modifiers: [],
            abilities: [
                (
                    card: MultiCast([
                        StatusEffects(4, [
                            SimpleStatusEffect(IncreaseGravity(Up), 1),
                            OnHit(Effect(Damage(25))),
                            OnHit(Effect(Knockback(5, Forward))),
                            Stun,
                        ]),
                        Effect(Knockback(20, Forward)),
                    ], []),
                    keybind: Pressed(Key(LShift)),
                ),
            ],
        ),
    ],
    passive: (
        passive_effects: [
            SimpleStatusEffect(Grow, 1),
            SimpleStatusEffect(IncreaseMaxHealth, 5),
        ],
    ),
)