(
    cooldowns: [
        (
            modifiers: [
                SimpleCooldownModifier(AddCharge, 9),
                Reloading,
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Size, -3),
                        SimpleModify(Lifetime, -5),
                        PiercePlayers,
                        OnHit(StatusEffects(1, [
                            SimpleStatusEffect(DamageOverTime, 2),
                            SimpleStatusEffect(Speed, -1),
                        ])),
                    ]),
                    keybind: Pressed(Mouse(Left)),
                ),
                (
                    card: Projectile([
                        SimpleModify(Speed, 24),
                        SimpleModify(Size, -5),
                        SimpleModify(Length, 2),
                        SimpleModify(Lifetime, 1),
                        OnHit(Effect(Damage(38))),
                        OnHeadshot(Effect(Damage(38))),
                    ]),
                    keybind: Pressed(Mouse(Right)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, 2),
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Speed, 45),
                        SimpleModify(Size, -5),
                        SimpleModify(Height, 10),
                        SimpleModify(Lifetime, -3),
                        OnHit(MultiCast([
                            Projectile([
                                SimpleModify(Size, -8),
                                SimpleModify(Lifetime, -6),
                                OnExpiry(CreateMaterial(Dirt)),
                                PiercePlayers,
                            ]),
                        ], [
                            Spread(10),
                            Duplication(6),
                        ])),
                        PiercePlayers,
                    ]),
                    keybind: Pressed(Key(E)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, 2),
            ],
            abilities: [
                (
                    card: StatusEffects(10, [
                        Stun,
                        Invincibility,
                        SimpleStatusEffect(DamageOverTime, -1),
                    ]),
                    keybind: OnPressed(Key(LShift)),
                ),
            ],
        ),
    ],
    passive: (
        passive_effects: [
            SimpleStatusEffect(IncreaseMaxHealth, 2),
        ],
    ),
)