[
    Cooldown(
        modifiers: [SimpleCooldownModifier(AddCharge, 149)],
        abilities: [
            (
                keybind: Pressed(Mouse(Left)),
                card: Projectile([
                    SimpleModify(Speed,-1),
                    SimpleModify(Size,-3),
                    SimpleModify(Lifetime,-5),
                    SimpleModify(Health,-10),
                    PiercePlayers,
                    OnHit(Effect(StatusEffect(DamageOverTime, 1))),
                    OnHit(Effect(StatusEffect(DamageOverTime, 1))),
                    OnHit(Effect(StatusEffect(Slow, 1))),
                ]),
            ),
            (
                keybind: Pressed(Mouse(Right)),
                card: Projectile([
                    SimpleModify(Speed,1),
                    SimpleModify(Size,-5),
                    SimpleModify(Length,2),
                    SimpleModify(Lifetime,1),
                    SimpleModify(Health,-10),
                    OnHit(Effect(Damage(38))),
                    OnHeadshot(Effect(Damage(38))),
                ]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Key(E)),
                card: Projectile([
                    SimpleModify(Speed,4),
                    SimpleModify(Size,-5),
                    SimpleModify(Height,8),
                    SimpleModify(Lifetime,-3),
                    SimpleModify(Health,-10),
                    OnHit(MultiCast([
                        Projectile([
                            SimpleModify(Size,-5),
                            SimpleModify(Lifetime,-6),
                            SimpleModify(Health,-10),
                            PiercePlayers,
                            OnExpiry(CreateMaterial(Stone)),
                        ]),
                    ],[
                        Spread(10),
                        Duplication(5),
                    ])),
                ]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: OnPressed(Key(LShift)),
                card: MultiCast([
                    Effect(Cleanse),
                    Effect(StatusEffect(Stun, 10)),
                    Effect(StatusEffect(Invincibility, 10)),
                    Effect(StatusEffect(HealOverTime, 10)),
                ],[]),
            ),
        ]
    ),
]