(
    cooldowns: [
        (
            modifiers: [
                SimpleCooldownModifier(AddCharge, 29),
                Reloading,
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Speed, 45),
                        SimpleModify(Size, -10),
                        SimpleModify(Lifetime, -3),
                        OnHit(Effect(Damage(9))),
                        OnHeadshot(Effect(Damage(10))),
                    ]),
                    keybind: Pressed(Mouse(Left)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, -10),
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Size, -4),
                        OnHit(Effect(Damage(20))),
                        OnHit(Projectile([
                            SimpleModify(Speed, -5),
                            SimpleModify(Lifetime, -10),
                            PiercePlayers,
                            OnHit(Effect(Damage(20))),
                        ])),
                        OnHit(Projectile([
                            SimpleModify(Speed, -5),
                            SimpleModify(Lifetime, -10),
                            FriendlyFire,
                            PiercePlayers,
                            OnHit(Effect(Damage(20))),
                            OnHit(Effect(Knockback(1, Forward))),
                        ])),
                        SimpleModify(Speed, 8),
                    ]),
                    keybind: Pressed(Mouse(Right)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, -16),
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Size, -4),
                        SimpleModify(Speed, -5),
                        SimpleModify(Gravity, 12),
                        NoEnemyFire,
                        PiercePlayers,
                        OnHit(Projectile([
                            SimpleModify(Speed, -5),
                            SimpleModify(Lifetime, 1),
                            SimpleModify(Size, -8),
                            NoEnemyFire,
                            PiercePlayers,
                            Trail(2, Projectile([
                                SimpleModify(Speed, -5),
                                SimpleModify(Size, 4),
                                SimpleModify(Lifetime, -10),
                                FriendlyFire,
                                NoEnemyFire,
                                PiercePlayers,
                                OnHit(StatusEffects(1, [
                                    SimpleStatusEffect(DamageOverTime, -2),
                                ])),
                                SimpleModify(Length, -20),
                            ])),
                        ])),
                    ]),
                    keybind: Pressed(Key(E)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, -4),
            ],
            abilities: [
                (
                    card: StatusEffects(1, [
                        SimpleStatusEffect(Speed, 2),
                    ]),
                    keybind: Pressed(Key(LShift)),
                ),
            ],
        ),
    ],
    passive: (
        passive_effects: [],
    ),
)