(
    cooldowns: [
        (
            modifiers: [
                SimpleCooldownModifier(AddCharge, 49),
            ],
            abilities: [
                (
                    card: Projectile([
                        SimpleModify(Size, -4),
                        OnHit(Effect(Damage(6))),
                        OnHeadshot(Effect(Damage(6))),
                    ]),
                    keybind: Pressed(Mouse(Left)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, -2),
            ],
            abilities: [
                (
                    card: MultiCast([
                        Projectile([
                            SimpleModify(Size, -5),
                            SimpleModify(Length, 4),
                            OnHit(Effect(Damage(30))),
                            OnHit(Effect(Knockback(10, Forward))),
                            OnHit(StatusEffects(1, [
                                Stun,
                            ])),
                            SimpleModify(Speed, 20),
                        ]),
                        StatusEffects(1, [
                            Lockout,
                        ]),
                    ], []),
                    keybind: Pressed(Mouse(Right)),
                ),
            ],
        ),
        (
            modifiers: [
                SignedSimpleCooldownModifier(DecreaseCooldown, -5),
            ],
            abilities: [
                (
                    card: MultiCast([
                        Projectile([
                            SimpleModify(Lifetime, -1),
                            SimpleModify(Size, -8),
                            NoEnemyFire,
                            PiercePlayers,
                            LockToOwner,
                            Trail(2, Projectile([
                                SimpleModify(Speed, -1),
                                SimpleModify(Size, 1),
                                SimpleModify(Length, -16),
                                SimpleModify(Health, 1),
                                SimpleModify(Lifetime, -4),
                                OnHit(Effect(Damage(2))),
                                OnHit(Effect(Knockback(1, Forward))),
                                LockToOwner,
                                PiercePlayers,
                            ])),
                        ]),
                        StatusEffects(2, [
                            SimpleStatusEffect(Speed, 2),
                            Lockout,
                        ]),
                    ], []),
                    keybind: Pressed(Key(E)),
                ),
            ],
        ),
        (
            modifiers: [],
            abilities: [
                (
                    card: StatusEffects(7, [
                        SimpleStatusEffect(IncreaseDamageTaken, -2),
                        SimpleStatusEffect(Overheal, 1),
                        SimpleStatusEffect(Speed, -1),
                    ]),
                    keybind: Pressed(Key(LShift)),
                ),
            ],
        ),
    ],
    passive: (
        passive_effects: [
            SimpleStatusEffect(Speed, -1),
        ],
    ),
)