[
    MultiCast([
        Projectile([
            SimpleModify(Speed,1),
            SimpleModify(Width,-10),
            SimpleModify(Height,-10),
            SimpleModify(Length,-10),
            SimpleModify(Health,-10),
            SimpleModify(Lifetime,-3),
            OnHit(Effect(Damage(1))),
        ]),
    ],[
        Spread(5),
        Duplication(5),
    ]),
    MultiCast([],[]),
    Projectile([
        SimpleModify(Speed,6),
        SimpleModify(Width,-5),
        SimpleModify(Length,-5),
        SimpleModify(Height,4),
        SimpleModify(Lifetime,-3),
        SimpleModify(Health,-10),
        OnHit(Projectile([
            SimpleModify(Speed,-3),
            SimpleModify(Width,-10),
            SimpleModify(Length,-10),
            SimpleModify(Height,-10),
            SimpleModify(Lifetime,-30),
            SimpleModify(Health,-10),
            OnExpiry(MultiCast([
                Effect(Cleanse),
                Effect(Teleport),
            ],[])),
        ])),
    ]),
    MultiCast([
        Effect(Cleanse),
        Effect(StatusEffect(Speed, 5)),
        Effect(StatusEffect(Speed, 5)),
        Effect(StatusEffect(Invincibility, 5)),
    ],[]),
]