[
    Projectile([
        SimpleModify(Width,-5),
        SimpleModify(Height,-5),
        SimpleModify(Length,-1),
        SimpleModify(Health,-10),
        OnHit(Effect(Damage(20))),
        OnHit(Projectile([
            SimpleModify(Speed,-3),
            SimpleModify(Width,1),
            SimpleModify(Height,1),
            SimpleModify(Length,1),
            SimpleModify(Lifetime,-10),
            SimpleModify(Health,-10),
            OnHit(Effect(Damage(20))),
        ])),
        OnHit(Projectile([
            SimpleModify(Speed,-3),
            SimpleModify(Width,1),
            SimpleModify(Height,1),
            SimpleModify(Length,1),
            SimpleModify(Lifetime,-10),
            SimpleModify(Health,-10),
            FriendlyFire,
            OnHit(Effect(Knockback(2))),
            OnHit(Effect(Damage(20))),
        ])),
    ]),
    MultiCast([
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
    ],[]),
    Projectile([
        SimpleModify(Width,-5),
        SimpleModify(Height,-5),
        SimpleModify(Length,-1),
        SimpleModify(Health,-10),
        OnHit(Effect(Damage(15))),
        OnHit(Projectile([
            SimpleModify(Speed,-3),
            SimpleModify(Width,2),
            SimpleModify(Height,2),
            SimpleModify(Length,2),
            SimpleModify(Lifetime,-10),
            SimpleModify(Health,-10),
            FriendlyFire,
            OnHit(Effect(Knockback(10))),
        ])),
    ]),
    MultiCast([
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
        Effect(StatusEffect(DecreaceGravity, 1)),
    ],[]),
]