[
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Mouse(Right)),
                card: MultiCast([
                    Projectile([
                        SimpleModify(Speed,-1),
                        SimpleModify(Width,2),
                        SimpleModify(Height,1),
                        SimpleModify(Length,-15),
                        SimpleModify(Health,1),
                        SimpleModify(Lifetime,-2),
                        LockToOwner,
                        PiercePlayers,
                    ]),
                    Effect(StatusEffect(Slow, 3)),
                ],[]),
    
            ),
            (
                keybind: Pressed(Mouse(Left)),
                card: Projectile([
                    SimpleModify(Width,3),
                    SimpleModify(Height,-3),
                    SimpleModify(Length,-3),
                    SimpleModify(Speed,-1),
                    SimpleModify(Lifetime,-6),
                    SimpleModify(Health,-10),
                    SimpleModify(Gravity,2),
                    LockToOwner,
                    PiercePlayers,
                    OnHit(Effect(Damage(42))),
                    OnHit(Effect(Knockback(1))),
                ]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [AddCharge(1)],
        abilities: [
            (
                keybind: OnPressed(Key(E)),
                card: Projectile([
                    SimpleModify(Width,-1),
                    SimpleModify(Height,-1),
                    SimpleModify(Length,-1),
                    SimpleModify(Speed,-1),
                    SimpleModify(Health,-10),
                    PiercePlayers,
                    OnHit(Effect(Damage(50))),
                ]),
    
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Key(LShift)),
                card: MultiCast([
                    Effect(StatusEffect(OnHit(Effect(Damage(25))), 6)),
                    Effect(StatusEffect(OnHit(Effect(Knockback(5))), 6)),
                    Effect(StatusEffect(DecreaceGravity, 6)),
                    Effect(Knockback(20)),
                ],[]),
            ),
        ]
    )
]