[
    Cooldown(
        modifiers: [AddCharge(11)],
        abilities: [
            (
                keybind: And(OnPressed(Mouse(Left)), Pressed(Mouse(Right))),
                card: Projectile([
                    SimpleModify(Speed,15),
                    SimpleModify(Width,-10),
                    SimpleModify(Height,-10),
                    SimpleModify(Length,-10),
                    SimpleModify(Lifetime,-2),
                    SimpleModify(Health,-10),
                    OnHit(Effect(Damage(38))),
                    OnHeadshot(Effect(Damage(38))),
                ]),
            ),
            (
                keybind: OnPressed(Mouse(Left)),
                card: MultiCast([
                    Projectile([
                        SimpleModify(Speed,2),
                        SimpleModify(Width,-10),
                        SimpleModify(Height,-10),
                        SimpleModify(Length,-10),
                        SimpleModify(Health,-10),
                        SimpleModify(Lifetime,-3),
                        OnHit(Effect(Damage(5))),
                        OnHeadshot(Effect(Damage(5))),
                    ]),
                ],[
                    Spread(1),
                    Duplication(2),
                ]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [AddCooldown(1)],
        abilities: [
            (
                keybind: Pressed(Mouse(Right)),
                card: Effect(StatusEffect(Slow, 1)),
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Key(E)),
                card: Projectile([
                    SimpleModify(Width,-3),
                    SimpleModify(Height,-3),
                    SimpleModify(Length,-3),
                    SimpleModify(Gravity,2),
                    SimpleModify(Health,-10),
                    SimpleModify(Speed,-1),
                    WallBounce,
                    OnExpiry(Projectile([
                        SimpleModify(Speed,-3),
                        SimpleModify(Width,3),
                        SimpleModify(Height,3),
                        SimpleModify(Length,3),
                        SimpleModify(Lifetime,-10),
                        SimpleModify(Health,-10),
                        PiercePlayers,
                        FriendlyFire,
                        OnHit(Effect(Damage(20))),
                        OnHit(Effect(StatusEffect(DamageOverTime, 10))),
                    ])),
                ]),
            ),
        ]
    ),
    Cooldown(
        modifiers: [],
        abilities: [
            (
                keybind: Pressed(Key(LShift)),
                card: MultiCast([
                    MultiCast([
                        Projectile([
                            SimpleModify(Width,-10),
                            SimpleModify(Height,-10),
                            SimpleModify(Length,-10),
                            SimpleModify(Lifetime,-3),
                            SimpleModify(Speed,-1),
                            SimpleModify(Health,-10),
                            OnHit(Effect(Damage(1))),
                            OnHit(Effect(Knockback(1))),
                        ]),
                    ],[
                        Spread(5),
                        Duplication(3),
                    ]),
                    Effect(Knockback(-20)),
                ],[]),
            ),
        ]
    ),
]